<app-toolbar></app-toolbar>

<mat-card *ngIf="showCalculator">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <mat-form-field>
                <input matInput number placeholder="Cantidad a convertir" [(ngModel)]="amountValue">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Seleccione Moneda</mat-label>
                <mat-select [(value)]="selectedCurrency">
                    <mat-option *ngFor="let currency of currencies" value="{{currency.trm}}">{{currency.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="convertCurrency()">Calcular</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-label style="margin-left: 10px">Resultado: </mat-label>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-label>${{convertedCurrency}} </mat-label>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>

<mat-card *ngIf="showConfig">
    <mat-label style="margin-left: 10px">Configuracion</mat-label>
<mat-grid-list cols="1" rowHeight="8:1">
    <mat-grid-tile *ngFor="let currency of currencies; let i = index">
        <mat-form-field>
            <input matInput number placeholder="TRM de {{currency.name}}" [(ngModel)]="currency.trm">
        </mat-form-field>
         <button style="margin-left:50px" mat-raised-button color="primary" (click)="changeTrm(i, currency.trm)">Calcular</button>
    </mat-grid-tile>
</mat-grid-list>
</mat-card>